@font-face	
	{ 
	font-family: backFont;
	src: url(teaser/mangui-type.ttf);
	}	
	
@font-face	
	{
	font-family: defaultFont;
	src: url(teaser/MomsHand.ttf);
	}

/*--Inicial--*/
.hight{
 width: 500px;
 height: 313px;
 position:absolute;
 top:10%;
 left:50%;
 margin-left: -250px;
 background-image: url(teaser/halone1.png);
 	}

.rol{
	position: absolute;
	bottom: 32%;
	left: 50%;
	margin-left: -50px;
	}
	
		.rol a {
			font-size: 25px;
			font-family: backFont;
			}
	
.continue {
	position: absolute;
	bottom: 20%;
	left: 50%;
	font-size: 18px;
	font-family: defaultFont;
	margin-left: -120px;
	}
	
/*--Segunda parte--*/


.pic1 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/individual/222.jpg);
	position: absolute;
	top: -55%;
	left: 15%;
	opacity: 0.8;
	}

.pic2 {
    width: 200px;
	height: 250px;
	background-image: url(teaser/individual/111.jpg);
	position: absolute;
	top: -55%;
	left: 32%;
	opacity: 0.8;
  }
  
.pic3 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/individual/555.jpg);
	position: absolute;
	top: -55%;
	left: 49%;
	opacity: 0.8;
	}

.pic4 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/individual/444.jpg);
	position: absolute;
	top: -55%;
	left: 66%;
	opacity: 0.8;
	}

.pic5{
	width: 200px;
	height: 250px;
	background-image: url(teaser/individual/666.jpg);
	position: absolute;
	top: -55%;
	left: 32%;
	opacity: 0.8;
	}

.pic6{
	width: 200px;
	height: 250px;
	background-image: url(teaser/individual/333.jpg);
	position: absolute;
	top: -55%;
	left: 49%;
	opacity: 0.8;
	}

.text {
	font-size: 40px;
	opacity: 0.6;
	color: white;
	font-family: defaultFont;
	position: absolute;
	top: 50%;
	left: 20%;	
	}


/*--Terceira parte--*/

.gif1 {
	width: 500px;
	height: 280px;
	background-image: url(teaser/gif/kevin1.gif);
	position: absolute;
	top: -55%;
	left: 5%;
		
	background-size: 100% 100%; 
   -webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
   -o-background-size: 100% 100%;
   background-repeat: no-repeat;
    	
	}

.gif2 {
	width: 500px;
	height: 280px;
	background-image: url(teaser/gif/soo1.gif);
	position: absolute;
	top: -55%;
	left: 55%;
		
	}


.gif3 {
	width: 500px;
	height: 267px;
	background-image: url(teaser/gif/all1.gif);
	position: absolute;
	top: -55%;
	left: 5%;
		
	}

.gif4 {
	width: 500px;
	height: 281px;
	background-image: url(teaser/gif/all2.gif);
	position: absolute;
	top: -55%;
	left: 55%;
		
	}


/* -- quarta parte -- */

.pic1_2 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/cenas/cena1.png);
	position: absolute;
	top: -55%;
	left: 15%;
	}

.pic2_2 {
    width: 200px;
	height: 250px;
	background-image: url(teaser/cenas/cena11.jpg);
	position: absolute;
	top: -55%;
	left: 32%;
  }
  
.pic3_2 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/cenas/cena10.jpg);
	position: absolute;
	top: -55%;
	left: 49%;
	}

.pic4_2 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/cenas/cena7.jpg);
	position: absolute;
	top: -55%;
	left: 66%;
	}

.pic5_2 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/cenas/cena3.png);
	position: absolute;
	top: -55%;
	left: 32%;
	}

.pic6_2 {
	width: 200px;
	height: 250px;
	background-image: url(teaser/cenas/cena9.png);
	position: absolute;
	top: -55%;
	left: 49%;
	}


.pic7_2 {
	width: 1240px;
	height: 100%;
	background-image: url(teaser/cenas/cena5.png);
	position: absolute;
	top: -500%;
	left: 50%;
    margin-left: -620px;
	}

.pic8_2 {
	width: 1240px;
	height: 100%;
	background-image: url(teaser/cenas/cena4.png);
	position: absolute;
	top: -500%;
	left: 50%;
    margin-left: -620px;
    /*margin-top: -340px;*/
	}


/*--- quinta parte ---*/


.gif1_2 {
	width: 500px;
	height: 278px;
	background-image: url(teaser/gif/all4.gif);
	position: absolute;
	top: -55%;
	left: 55%;
		
	}
	
.gif2_2 {
	width: 500px;
	height: 278px;
	background-image: url(teaser/gif/all3.gif);
	position: absolute;
	top: -55%;
	left: 10%;
		
	}
	
	.gif3_2 {
	width: 500px;
	height: 278px;
	background-image: url(teaser/gif/eli2.gif);
	position: absolute;
	top: -55%;
	left: 50%;
		
	}
	
	.gif4_2 {
	width: 500px;
	height: 400px;
	background-image: url(teaser/gif/kevin3.gif);
	position: absolute;
	top: -100%;
	left: 10%;
		
	}
	
	.gif5_2 {
	width: 500px;
	height: 278px;
	background-image: url(teaser/gif/all7.gif);
	position: absolute;
	top: -55%;
	left: 50%;
		
	}
	
	
.gif6_2 {
	width: 500px;
	height: 500px;
	background-image: url(teaser/gif/all6.gif);
	position: absolute;
	margin-left: -251px;
	margin-right: -250px;
	top: -100%;
	left: 50%;
		
}
.gif7_2 {
	width: 500px;
	height: 278px;
	background-image: url(teaser/gif/all5.gif);
	position: absolute;
	margin-left: -251px;
	margin-right: -250px;
	top: -55%;
	left: 50%;

	}

	/* --- sexta parte --- */

.pic_back {
	width: 100%;
	height: 100%;
	background-image: url(teaser/background2.jpg);
	position: absolute;
	top: -600%;
	left: 0%;
    background-repeat: repeat;
	}

.pic_final {
	width: 1240px;
	height: 600px;
	background-image: url(teaser/cenas/final2.png);
	position: absolute;
	top: -900%;
	left: 50%;
	margin-left: -620px;
    margin-top: -300px;
	}

.hight_mini {
	width: 300px;
	height: 188px;
	background-image: url(teaser/halone3_mini.png);
	position: absolute;
	top: -20%;
	left: 80%;
	margin-left: -94px;
	margin-top: -150px;
}

.fa {
	width: 1240px;
	height: 600px;
	background-image: url(teaser/cenas/last.png);
	position: absolute;
	top: -50%;
	left: 50%;
	margin-left: -620px;
	margin-top: -300px;
}


.text_final {
	font-size: 40px;
	opacity: 0.6;
	color: white;
	font-family: defaultFont;
	position: absolute;
	top: 90%;
	left: 5%;	
	}

/*--Extra--*/
.bg {
	 background-image: url(teaser/background2.jpg);
	 background-repeat: repeat;
	}	
.player {
opacity: 0;	
	}
	